
            body{
                background-image: url(m.jpg);
                background-position: center;
                background-repeat: repeat;
                background-size: cover;
                height: 100%;
                width: 80%;
                }
          #d2{
              
              height: 90px;
              margin-right: 150px;
          }
          #d3{
              height: 600px;
              float: center;
              height: 600px;
              width: 600px;
          }
          #d4{
              text-align: center;
              height: 600px;
              margin-left: 610px;
          }
          #x{
              
              background-position: center;
          }
          #d5{
              margin-top: 10px;
              text-align: end;
              height: 100px;
          }
          #d6{
              margin-left: 150px;
              width: 1000px;
          }
   
